.container {
  background-color: #fff;
  max-width: 700px;
  height: 600px;
  margin: 0 auto;
  border: 3px solid gray;
  border-radius: 10px;
  padding: 30px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  font-size: 45px;
  color: gray;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.row {
  height: 250px;
  padding: 20px;
}

.today {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

li {
  display: block;
  list-style-type: none;
  margin: 0;
}

body {
  background-color: rgb(105, 105, 241);
  background-image: url("https://images.pexels.com/photos/1431822/pexels-photo-1431822.jpeg?cs=srgb&dl=pexels-brett-sayles-1431822.jpg&fm=jpg");
  background-size: cover;
  background-attachment: fixed;
}

.city {
  font-size: 35px;
}

.card-body-search {
  padding-top: 10px;
  margin: 15px;
}

.card-text {
  text-align: center;
}

.temp {
  font-size: 35px;
}

p {
  text-align: center;
  text-decoration: none;
}
