body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(105, 105, 241);
  background-image: url("https://images.pexels.com/photos/1431822/pexels-photo-1431822.jpeg?cs=srgb&dl=pexels-brett-sayles-1431822.jpg&fm=jpg");
  background-size: cover;
  background-attachment: fixed;
}
li {
  display: block;
  list-style-type: none;
  margin: 0;
}

ul {
  padding: 0;
}

h1 {
  font-size: 38px;
  color: gray;
  text-decoration: none;
}

.col-6 {
  width: 300px;
  display: block;
}

.col-8 {
  margin-bottom: 20px;
}

.dayWeek {
  font-size: 14px;
}

.container {
  max-width: 800px;
  height: 550px;
  margin: 0 auto;
  border: 3px solid gray;
  border-radius: 10px;
  padding: 30px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  padding: 10px;
}

.col-3-lg {
  max-width: 170px;
}
.icon {
  margin-top: 5px;
  margin-bottom: 5px;
}

.today {
  font-size: 25px;
  text-align: center;
  margin-top: 8px;
}

.city {
  font-size: 30px;
}

.card-body-search {
  width: 300px;
  padding-top: 10px;
  margin: 10px;
}

.weather-temperature {
  text-align: center;
}

.temp {
  font-size: 35px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.active {
  color: black;
}

.today {
  margin-bottom: 0 auto;
}

img {
  font-size: 5px;
  margin: 0 auto;
  padding: 2px;
}

.active,
.fahrenheit {
  position: relative;
  top: -17px;
  font-size: 12px;
  text-decoration: none;
}

.bar {
  position: relative;
  top: -17px;
  font-size: 12px;
}

p {
  text-align: center;
}
